# macOS
.DS_Store

# Xcode
DerivedData/
build/

# User-specific Xcode files
xcuserdata/
*.xcuserstate

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Fastlane
fastlane/screenshots
fastlane/test_output

